<div class="row">
    <div class="col col-md-4 image-col">
      <img class="image" [src]="userSelected.avatar">
      {{userSelected.surname + ' ' + userSelected.name}}
    </div>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="32px" fxLayoutAlign="center">
    <mat-card fxFlex="0 1 calc(33.3% - 32px)" class="card" *ngFor="let activity of activities">
        <mat-card-header>
            <mat-card-title>
                {{ activity.workDate | date: dateFormat }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ activity.projectName }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{ activity.code }}
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="authService.isLoggedIn()" mat-raised-button color="accent" [routerLink]="['edit', activity.id, 'false']">{{ 'activity.edit' | translate }}</button>
            <button *ngIf="authService.isLoggedIn()" mat-raised-button color="primary" [routerLink]="['edit', activity.id, 'true']">{{ 'activity.copy' | translate }}</button>
            <button *ngIf="authService.isLoggedIn()" mat-raised-button color="warn" (click)="deleteActivity(activity)">{{ 'activity.delete' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>
<!-- <table class="table table-hover">
    <thead>
        <tr>
            <td>{{ 'activity.projectName' | translate }}</td>
            <td>{{ 'activity.code' | translate }}</td>
            <td>{{ 'activity.summary' | translate }}</td>
            <td>{{ 'activity.type' | translate }}</td>
            <td>{{ 'activity.reportTo' | translate }}</td>
            <td>{{ 'activity.workDate' | translate }}</td>
            <td>{{ 'activity.status' | translate }}</td>
            <td colspan="3">{{ 'activity.action' | translate }}</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let activity of activities">
            <td>{{ activity.projectName }}</td>
            <td>{{ activity.code }}</td>
            <td>{{ activity.summary }}</td>
            <td>{{ activity.type }}</td>
            <td>{{ activity.reportTo }}</td>
            <td>{{ activity.workDate | date: dateFormat}}</td>
            <td>{{ activity.status }}</td>
            <td><a *ngIf="authService.isLoggedIn()" [routerLink]="['edit', activity.id, 'false']" class="btn btn-primary">{{ 'activity.edit' | translate }}</a></td>
            <td><a *ngIf="authService.isLoggedIn()" [routerLink]="['edit', activity.id, 'true']" class="btn btn-primary">{{ 'activity.copy' | translate }}</a></td>
            <td><button *ngIf="authService.isLoggedIn()" mat-raised-button class="delete-button" color="warn" type="button" (click)="deleteActivity(activity)">{{ 'activity.delete' | translate }}</button></td>
        </tr>
    </tbody>
</table> -->
<button *ngIf="authService.isLoggedIn()" mat-raised-button class="btn btn-primary" type="button" (click)="exportAsXLSX()">{{ 'activity.exportExcel' | translate }}</button>
