<div class="row">
    <div class="col col-md-4 image-col">
      <img class="image" [src]="userSelected.avatar">
      {{userSelected.surname + ' ' + userSelected.name}}
      <button *ngIf="authService.isLoggedIn()" mat-raised-button color="accent" (click)="logworkOff()">{{ 'activity.logworkOff' | translate }}</button>
    </div>
    <div class="col col-md-4 image-col">
    </div>
</div>
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0px" fxLayoutAlign="left">
    <mat-card fxFlex="0 1 calc(33.3% - 0px)" class="card card-info" *ngFor="let activity of dataSource">
        <mat-card-header>
            <mat-card-title>
                {{ activity.workDate | date: dateFormat }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ activity.projectName }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            {{ activity.code }}
        </mat-card-content>
        <mat-card-actions>
            <button *ngIf="authService.isLoggedIn()" mat-raised-button color="accent" [routerLink]="['edit', activity.id, 'false']">{{ 'activity.edit' | translate }}</button>
            <button *ngIf="authService.isLoggedIn()" mat-raised-button color="primary" [routerLink]="['edit', activity.id, 'true']">{{ 'activity.copy' | translate }}</button>
            <button *ngIf="authService.isLoggedIn()" mat-raised-button color="warn" (click)="deleteActivity(activity)">{{ 'activity.delete' | translate }}</button>
        </mat-card-actions>
    </mat-card>
</div>
<div fxLayout="row wrap" fxLayout.xs="column">
    <button *ngIf="authService.isLoggedIn()" mat-raised-button class="btn btn-primary" type="button" (click)="exportAsXLSX()">{{ 'activity.exportExcel' | translate }}</button>
    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" [length]="totalSize"
        [pageIndex]="currentPage" (page)="handlePage($event)">
    </mat-paginator>
</div>
