.search-list {
  padding: 10px 10px;
}

.users-list {
  padding: 10px 10px;

  .image-col {
    text-align:center;

    .image {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }
  .text-col {
    margin: auto 0px;
  }
  .actions-col {
    text-align: center;
    margin: auto 0px;

    .action {
      line-height: 1;
    }
    .icon {
      font-size: 20px;
    }
  }
}
  