<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav [class.menu-icon-button]="!mobileQuery.matches" class="navbar navbar-expand-sm bg-light">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item">
				<button mat-button color="primary" (click)="navigate('/home')" class="nav-link" routerLinkActive="active"><mat-icon>home</mat-icon></button>
			</li>
			<li class="nav-item">
				<button mat-button color="primary" (click)="navigate('/dashboard')" class="nav-link" routerLinkActive="active"><mat-icon>dashboard</mat-icon></button>
			</li>
			<li class="nav-item">
				<button mat-button color="primary" (click)="navigate('/user')" class="nav-link" routerLinkActive="active">{{ 'app.members' | translate }}</button>
			</li>
		</ul>
		<ul>
			<li class="navbar-nav"><h3>{{ 'app.title' | translate }}</h3></li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item">
				<button mat-button color="primary" *ngIf="authService.isLoggedIn()" (click)="fullNameAction()" class="nav-link" routerLinkActive="active">{{fullName}}</button>
			</li>
			<li class="nav-item">
				<button mat-button color="primary" *ngIf="!authService.isLoggedIn()" (click)="login()" class="nav-link" routerLinkActive="active">{{ 'app.login' | translate }}</button>
				<button mat-button color="primary" *ngIf="authService.isLoggedIn()" (click)="logout()" class="nav-link" routerLinkActive="active">{{ 'app.logout' | translate }}</button>
			</li>
			<!-- <li class="nav-item">
				<button mat-button color="primary" *ngIf="authService.isLoggedIn()" (click)="changePassword()" class="nav-link" routerLinkActive="active">{{'app.changePasswordTitle' | translate }}</button>
			</li> -->
			<li class="nav-item">
				<button mat-icon-button (click)="useLanguage('en')" class="nav-link" routerLinkActive="active"><mat-icon svgIcon="imgUmSvg"></mat-icon></button>
				<button mat-icon-button (click)="useLanguage('vi')" class="nav-link" routerLinkActive="active"><mat-icon svgIcon="imgVnSvg"></mat-icon></button>
			</li>
		</ul>
	</div>
</nav>
<mat-accordion [class.menu-icon-button]="mobileQuery.matches">
	<mat-expansion-panel [expanded]="isMenuToogle === true" (opened)="isMenuToogle = true" (closed)="isMenuToogle = false">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<h5>{{ 'app.title' | translate }}</h5>
			</mat-panel-title>
		</mat-expansion-panel-header>
		<ul class="navbar-nav">
			<li class="nav-item">
				<button mat-button color="primary" (click)="navigate('/home')" class="nav-link" routerLinkActive="active"><mat-icon>home</mat-icon></button>
			</li>
			<li class="nav-item">
				<button mat-button color="primary" (click)="navigate('/dashboard')" class="nav-link" routerLinkActive="active"><mat-icon>dashboard</mat-icon></button>
			</li>
			<li class="nav-item">
				<button mat-button color="primary" (click)="navigate('/user')" class="nav-link" routerLinkActive="active">{{ 'app.members' | translate }}</button>
			</li>
			<li class="nav-item">
				<button mat-button color="primary" *ngIf="authService.isLoggedIn()" (click)="fullNameAction()" class="nav-link" routerLinkActive="active">{{fullName}}</button>
			</li>
			<li class="nav-item">
				<button mat-button color="primary" *ngIf="!authService.isLoggedIn()" (click)="login()" class="nav-link" routerLinkActive="active">{{ 'app.login' | translate }}</button>
				<button mat-button color="primary" *ngIf="authService.isLoggedIn()" (click)="logout()" class="nav-link" routerLinkActive="active">{{ 'app.logout' | translate }}</button>
			</li>
			<!-- <li class="nav-item">
				<button mat-button color="primary" *ngIf="authService.isLoggedIn()" (click)="changePassword()" class="nav-link" routerLinkActive="active">{{'app.changePasswordTitle' | translate }}</button>
			</li> -->
			<li class="nav-item">
				<button mat-icon-button (click)="useLanguage('en')" class="nav-link" routerLinkActive="active"><mat-icon svgIcon="imgUmSvg"></mat-icon></button>
				<button mat-icon-button (click)="useLanguage('vi')" class="nav-link" routerLinkActive="active"><mat-icon svgIcon="imgVnSvg"></mat-icon></button>
			</li>
		</ul>
	</mat-expansion-panel>
</mat-accordion>
<div class="page-container">
	<div class="side-bar">
		<ul class="nav flex-column">
	  	<li class="nav-item">
			<button class="nav-link active" mat-icon-button aria-label="Create" (click)="listAction()">
				<ion-icon name="list"></ion-icon>
			</button>
	  	</li>
	  	<li class="nav-item">
			<button *ngIf="authService.isLoggedIn()" class="nav-link active" mat-icon-button aria-label="Create" (click)="addAction()">
				<ion-icon name="add"></ion-icon>
			</button>
	  	</li>
		</ul>
	</div>
	<div class="content-container">
 		<router-outlet></router-outlet>
	</div>
</div>

