.page-container {
  display: grid;
  grid-template-columns: 41px auto;
  height: 100%;
  padding: 0px;

  .side-bar {
    background: #252223;

    .nav-link {
      color: #FFF;
      font-size: 28px;
    }
  }

  .content-container {
  }
}
.menu-icon-button {
  display: none
}