<div class="login-page">
    <div class="page-content">
        <form class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit(loginForm.value)">
            <div class="row">
                <!-- First column -->
                <div class="col col-md-6">
                    <!-- userName -->
                    <div class="form-group">
                        <mat-form-field class="input-style">
                            <input matInput placeholder="{{ 'login.userName' | translate }}" class="form-control" formControlName="userName">
                        </mat-form-field>
                        <ng-container *ngFor="let validation of validationMessages.userName">
                            <mat-error *ngIf="loginForm.get('userName').hasError(validation.type) && (loginForm.get('userName').dirty || loginForm.get('userName').touched)">{{validation.message}}</mat-error>
                        </ng-container>
                    </div>
                </div>
                <!-- Second column -->
                <div class="col col-md-6">
                    <!-- password -->
                    <div class="form-group">
                        <mat-form-field class="input-style">
                            <input type="password" matInput placeholder="{{ 'login.password' | translate }}" class="form-control" formControlName="password">
                        </mat-form-field>
                        <ng-container *ngFor="let validation of validationMessages.password">
                            <mat-error *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">{{validation.message}}</mat-error>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!loginForm.valid">{{ 'login.title' | translate }}</button>
                </div>
                <div class="col-md-4">
                    <button mat-raised-button class="cancel-button" color="basic" type="button" (click)="cancel()">{{ 'app.cancel' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
